# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*

# build folders
dist/
build/

# environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# package lock (optional)
# package-lock.json

# coverage
coverage/